
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: "Eras ITC", "Eras Light ITC",  Arial, Helvetica, sans-serif;
        }
        .corp-email {
            text-align: center;
            font-size: 18px;
            line-height: 1.5;
            color: #333333;
            border: 5px solid #f0972c;
            background-color: #ffffff;
            border-radius: 15px;
        }

        h1{
            font-size: 60px;
            margin-bottom :0px;
            margin-top: 20px;
        }

        .i-color {
            color : #f0972c;
        }

        .cssbuttons-io {
            position: relative;
            font-family: "Eras ITC", "Eras Light ITC",  Arial, Helvetica, sans-serif;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 0.05em;
            border-radius: 0.8em;
            border: none;
            background: linear-gradient(to right, #efc32e, #e84431);
            color: ghostwhite;
            overflow: hidden;
            }

            .cssbuttons-io span {
            position: relative;
            z-index: 10;
            transition: color 0.4s;
            display: inline-flex;
            align-items: center;
            padding: 0.8em 1.2em 0.8em 1.05em;
            }

            .cssbuttons-io::before,
            .cssbuttons-io::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            }

            .cssbuttons-io::before {
            content: "";
            background: #000;
            width: 120%;
            left: -10%;
            transform: skew(30deg);
            transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
            }

            .cssbuttons-io:hover::before {
            transform: translate3d(100%, 0, 0);
            }

            .cssbuttons-io:active {
            transform: scale(0.95);
            }
    </style>
</head>
<body>
    <div class ="corp-email">
        <h1>P<span class="i-color">I</span>LL<span class="i-color">I</span>Z</h1>
        <p>Hey <strong>{{ name }}</strong>,</p>
        <p>Please click below to confirm your email</p>
        <p>
            <button class="cssbuttons-io" href="{{ url }}">
                <span >Confirm</span>
            </button>
        </p>
        
        <p>If you did not request this email you can safely ignore it.</p>
    </div>
</body>
</html>